.show-photo {
    position: relative;
}

.show-photo-image-container {
    height: 667px;
    width: 100%;
    background-color: rgb(34, 34, 34);
    position: relative;
}

.show-photo-image-wrapper {
    height: 667px;
    position: relative;
    padding: 32px 64px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;

}

.show-photo-image {
    height: 100%;
}

.show-photo-details-container {
    margin-left: 146px;
}

.show-photo-title {
    font-size:24px;
    font-weight: 700;
    margin-bottom: 8px;
}

.show-photo-author-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    margin: 32px 0;
    padding-bottom: 24px;
    border-bottom: 1px solid rgb(215, 216, 219);;
}

.show-photo-author {
    display: flex;
    justify-content: flex-start;
}

.show-photo-author-thumbnail img {
    height: 64px;
    width: 64px;
    border-radius: 32px;
}

.show-photo-loc-time {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.show-photo-location {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.show-photo-location p {
    font-size: 18px;
    margin: 0 32px 0 8px;
}

.location-icon {
    background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 24 24' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Ctitle%3ESVG/Icon/Very Dark Grey/Location%3C/title%3E%3Cdesc%3ECreated with Sketch.%3C/desc%3E%3Cdefs%3E%3Cpath d='M11.9774965,0.788716966 C13.3208155,0.788716966 14.641908,1.12364773 15.798385,1.75769944 C17.7772942,2.8409968 19.0781677,4.28765587 19.7484244,6.16432599 C20.4255526,8.06704382 20.3699635,10.2266129 19.5968777,12.2465412 C18.448148,15.24984 16.1432054,18.7748065 12.341553,22.7299891 C12.1543285,22.9247747 11.8459523,22.9247747 11.6587278,22.7299891 C7.85725358,18.7749919 5.55271361,15.2503379 4.40383432,12.2466478 C3.62922308,10.2228781 3.57416752,8.06298447 4.25366751,6.16362676 C4.93136125,4.26841944 6.19648494,2.86138595 8.20133079,1.75843901 C9.35147222,1.12398397 10.6569218,0.788716966 11.9774965,0.788716966 Z M18.7073625,11.8953322 C19.3985264,10.0894503 19.4478988,8.17139323 18.8511173,6.49444716 C18.264428,4.85176053 17.1259656,3.58571362 15.3453895,2.61098792 C14.3287416,2.0535992 13.1635038,1.75818157 11.9774965,1.75818157 C10.8156332,1.75818157 9.66677579,2.0532324 8.65627305,2.61065789 C6.84842816,3.60522693 5.74505824,4.83236262 5.15063744,6.49469261 C4.55191071,8.16827062 4.60079485,10.0860522 5.29334537,11.8954279 C6.35976778,14.6835384 8.48948029,17.9766966 12.0001407,21.6943636 C15.5110036,17.9764951 17.6410924,14.6830442 18.7073625,11.8953322 Z M19.435844,12.1793424 C20.1945526,10.1960412 20.24627,8.08099739 19.5853725,6.22991815 C18.9315751,4.39545742 17.675496,2.99087859 15.7177411,1.91686123 C14.5881406,1.2971862 13.2947232,0.969464604 11.9774965,0.969464604 C10.6836857,0.969464604 9.40548725,1.29699484 8.28276794,1.91652126 C6.3255141,2.99401805 5.06930629,4.39853525 4.41633673,6.22634798 C3.75353422,8.08132602 3.80467099,10.1923885 4.56491092,12.1795615 C5.72299515,15.2112029 8.07847976,18.7949433 12.0003316,22.8277323 C15.9219382,18.7947401 18.277052,15.211498 19.435844,12.1793424 Z M11.661802,23.85708 L11.383202,23.5725007 C7.33534893,19.4223495 4.88838484,15.7061428 3.67529721,12.5305129 C2.83298498,10.3288133 2.77598669,7.97577162 3.51925215,5.89560283 C4.25513542,3.83569546 5.67277263,2.25069031 7.82764993,1.06439918 C9.09027421,0.367671671 10.5251261,0 11.9774965,0 C13.4520302,0 14.9013833,0.367232024 16.1712145,1.0638347 C18.3279123,2.24699138 19.7459716,3.83270055 20.4826206,5.8996312 C21.2238277,7.97564575 21.1661959,10.3325633 20.3254359,12.530351 C19.1115552,15.7066544 16.6648102,19.4225283 12.6166065,23.573383 L12.3382425,23.8573211 C12.1516464,24.0476538 11.8482667,24.0475457 11.661802,23.85708 Z M12.0661201,5.51313159 C13.6210473,5.51313159 14.8857638,6.7904848 14.8857638,8.36401479 C14.8857638,9.93754478 13.6210473,11.214898 12.0661201,11.214898 C10.5111928,11.214898 9.24647629,9.93754478 9.24647629,8.36401479 C9.24647629,6.7904848 10.5111928,5.51313159 12.0661201,5.51313159 Z M12.0661201,6.48259619 C11.0370297,6.48259619 10.2008173,7.32716387 10.2008173,8.36401479 C10.2008173,9.4008657 11.0370297,10.2454334 12.0661201,10.2454334 C13.0952104,10.2454334 13.9314229,9.4008657 13.9314229,8.36401479 C13.9314229,7.32716387 13.0952104,6.48259619 12.0661201,6.48259619 Z M12.0661201,11.0341503 C13.5251538,11.0341503 14.7122473,9.83495426 14.7122473,8.36401479 C14.7122473,6.89307532 13.5251538,5.69387923 12.0661201,5.69387923 C10.6070864,5.69387923 9.41999283,6.89307532 9.41999283,8.36401479 C9.41999283,9.83495426 10.6070864,11.0341503 12.0661201,11.0341503 Z M12.0661201,12.003615 C10.0812067,12.003615 8.46565186,10.3715894 8.46565186,8.36401479 C8.46565186,6.35644021 10.0812067,4.72441462 12.0661201,4.72441462 C14.0510334,4.72441462 15.6665883,6.35644021 15.6665883,8.36401479 C15.6665883,10.3715894 14.0510334,12.003615 12.0661201,12.003615 Z' id='path-1__KCgczwgH'%3E%3C/path%3E%3C/defs%3E%3Cg id='Icon/Very-Dark-Grey/Location__KCgczwgH' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg id='01-Icon/Utility-Icon/_/Location__KCgczwgH'%3E%3Cmask id='mask-2__KCgczwgH' fill='white'%3E%3Cuse xlink:href='%23path-1__KCgczwgH'%3E%3C/use%3E%3C/mask%3E%3Cuse id='Mask__KCgczwgH' fill='%23000000' fill-rule='nonzero' xlink:href='%23path-1__KCgczwgH'%3E%3C/use%3E%3Cg class='inline_svg_icon__fill' id='00-Mixin/Fill/01-Very-Dark-Grey__KCgczwgH' mask='url(%23mask-2__KCgczwgH)' fill='%23222222' fill-rule='evenodd'%3E%3Crect id='Box__KCgczwgH' x='0' y='0' width='24' height='24'%3E%3C/rect%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    width: 16px;
    height: 16px;
}

.show-photo-time {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.time-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='16' height='16' viewBox='0 0 24 24'%3E%3Cdefs%3E%3Cpath id='a__9zNTWMow' d='M12 0c6.601 0 12 5.399 12 12s-5.399 12-12 12S0 18.601 0 12 5.399 0 12 0zm0 .96C5.93.96.96 5.93.96 12c0 6.07 4.97 11.04 11.04 11.04 6.07 0 11.04-4.97 11.04-11.04C23.04 5.93 18.07.96 12 .96zm0 21.12c5.59 0 10.08-4.49 10.08-10.08S17.59 1.92 12 1.92A10.05 10.05 0 0 0 1.92 12c0 5.59 4.49 10.08 10.08 10.08zm0 .96A11.01 11.01 0 0 1 .96 12 11.01 11.01 0 0 1 12 .96 11.01 11.01 0 0 1 23.04 12 11.01 11.01 0 0 1 12 23.04zm-.48-19.104a.48.48 0 0 1 .48-.48h.96a.48.48 0 0 1 .48.48v9.024a.48.48 0 0 1-.48.48H7.488a.48.48 0 0 1-.48-.48V12a.48.48 0 0 1 .48-.48h4.032V3.936z'%3E%3C/path%3E%3C/defs%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cmask id='b__9zNTWMow' fill='%23fff'%3E%3Cuse xlink:href='%23a__9zNTWMow'%3E%3C/use%3E%3C/mask%3E%3Cuse fill='%23000' fill-rule='nonzero' xlink:href='%23a__9zNTWMow'%3E%3C/use%3E%3Cg class='inline_svg_icon__fill' fill='%23222' mask='url(%23b__9zNTWMow)'%3E%3Cpath d='M0 0h24v24H0z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    width: 16px;
    height: 16px;
}

.show-photo-time p {
    font-size: 18px;
    margin-left: 8px;
}

.show-photo-description {
    margin: 16px 0 32px 0;
    font-size: 18px;
}

.show-photo-category {
    display: flex;
    justify-content: flex-start;
    font-size: 18px;
}

.show-photo-category h3 {
    font-size: 18px;
    color: rgb(109,115,120);
    margin-right: 16px;
    padding-bottom: 32px;
}

.show-photo-status {
    margin-bottom: 32px;
    display: flex;
}

.show-photo-status div {
    padding: 32px 32px 0 0;
}
.show-photo-status div h3 {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0px;
    margin-bottom: 8px;
}
.show-photo-status div p {
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.2px;
    font-weight: bold;
}