.splash-1 {
    position: relative;
    height: 600px;
    background-image: image_url('splash1.jpg');
    background-position: center center;
    background-size: cover;
}

.splash-1-content {
    max-width: 1440px;
    display: flex;
    justify-content: center;
    padding-top: 340px;
}

.splash-1-content > div {
    width: 620px;
}

.splash-1-content > div > h1 {
    font-size: 48px;
    font-weight: bolder;
}

.splash-1-content > div > p {
    font-size: 18px;
    margin-top: 20px;
    line-height: 22px;
}

.splash-1-content > a {
    height: 64px;
    min-width: 216px;
    font-size: 24px;
    border-radius: 32px;
    background-color: black;
    color:white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    margin-left: 100px;
    transition: color 0.1s ease 0s;
}

.splash-1-content > a:hover {
    background-color: rgb(109, 115, 120);
}

.splash-1-mask {
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: -2px;
    right: 0px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1440' height='128' viewBox='0 0 1440 128'%3E%3Cpath class='header-wave' fill='%23FFF' d='M0,471 L1440,471 L1440,386.338583 C1331.33333,357.446194 1239,343 1163,343 C821.995497,343 821.995497,463.944882 426,463.944882 C262.447846,463.944882 120.447846,438.076115 0,386.338583 L0,471 Z' transform='translate(0 -343)'/%3E%3C/svg%3E");
    background-size: 101%;
    background-position: center bottom;
    background-repeat: no-repeat;
}

.splash-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}

.splash-image-unit {
    width:300px;
    height:300px;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.splash-image-container {
    position:relative;
    max-width:300px;
    max-height:300px;
    width: auto;
    height: auto;
}

.splash-image-container > a {
    z-index: 15;
}

.splash-image {
    display: block;
    max-width:300px;
    max-height:300px;
    width: auto;
    height: auto;
    border: 1px solid black;
    box-sizing: border-box;
}

.splash-image-content {
    opacity:0;
    font-size: 16px;
    position:absolute;
    bottom:0;
    right:0;
    color:white;
    width: 100%;
    height: 100%;
    -webkit-transition: all 400ms ease-out;
    -moz-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
    -ms-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
    text-align:center;
}

.splash-image-container .splash-image-content:hover {
    opacity:1;
}  

.splash-image-container .splash-image-content .text {
    position: absolute;
    bottom: 0px;
    right: 15px;
    color: white;
    opacity:0;
    transition-duration: 0.2s;
}

.splash-image-container .splash-image-content:hover .text {
    opacity:1;
    bottom: 15px;
}

.splash-image-container .splash-image-content .grad {
    position:absolute;
    bottom:0;
    background:linear-gradient(to bottom, transparent 0%, black 100%);
    height:0;
    width:100%;
    opacity:0;
    transition-duration: 0.2s;
}

.splash-image-container .splash-image-content:hover .grad {
    opacity:1;
    height:30%;
}

.photo-grid {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.photo-grid-image-unit {
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-grid-image-container {
    position:relative;
    width: auto;
    height: auto;
}

.photo-grid-image-container > a {
    z-index: 15;
}

.photo-grid-image {
    display: block;
    width: 100%;
    height: 100%;
}

.photo-grid-image-content {
    opacity:0;
    font-size: 16px;
    position:absolute;
    bottom:0;
    right:0;
    color:white;
    width: 100%;
    height: 100%;
    -webkit-transition: all 400ms ease-out;
    -moz-transition: all 400ms ease-out;
    -o-transition: all 400ms ease-out;
    -ms-transition: all 400ms ease-out;
    transition: all 400ms ease-out;
    text-align:center;
}

.photo-grid-image-container .photo-grid-image-content:hover {
    opacity:1;
}  

.photo-grid-image-container .photo-grid-image-content .text {
    position: absolute;
    bottom: 0px;
    right: 15px;
    color: white;
    opacity:0;
    transition-duration: 0.2s;
}

.photo-grid-image-container .photo-grid-image-content:hover .text {
    opacity:1;
    bottom: 15px;
}

.photo-grid-image-container .photo-grid-image-content .grad {
    position:absolute;
    bottom:0;
    background:linear-gradient(to bottom, transparent 0%, black 100%);
    height:0;
    width:100%;
    opacity:0;
    transition-duration: 0.2s;
}

.photo-grid-image-container .photo-grid-image-content:hover .grad {
    opacity:1;
    height:30%;
}